@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* .container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;